<article class="flight-card">

  <div class="airline">
    <strong>{{ flight.airline }}</strong>
    <span>{{ flight.flightNumber }}</span>
  </div>

  <div class="route">

    <div class="location">
      <strong>{{ flight.fromCode }}</strong>

      <span>
        {{ flight.departureTime | date:'shortTime' }}
      </span>

      <small>{{ flight.from }}</small>
    </div>

    <div class="duration">
      <span>{{ flight.duration }}</span>

      <span class="route-line">
        ────────→
      </span>

      <span>
        @if (flight.stops === 0) {
          Non-stop
        } @else {
          {{ flight.stops }}
          {{ flight.stops === 1 ? 'stop' : 'stops' }}
        }
      </span>
    </div>

    <div class="location">
      <strong>{{ flight.toCode }}</strong>

      <span>
        {{ flight.arrivalTime | date:'shortTime' }}
      </span>

      <small>{{ flight.to }}</small>
    </div>

  </div>

  <div class="price">
    <strong>
      ₹{{ flight.price }}
    </strong>

    <span>per passenger</span>

<a
  class="details-button"
  [routerLink]="['/flights', flight.id]">
  View Details
</a>
  </div>

</article>