<app-flight-search-form
  (search)="onSearch($event)">
</app-flight-search-form>

<section class="results-container">

  @if (loading) {
    <div class="status-message">
      Searching for flights...
    </div>
  }

  @if (errorMessage) {
    <div class="error-message">
      {{ errorMessage }}
    </div>
  }

  @if (!loading && !errorMessage && flights.length > 0) {

    <div class="results-header">
      <h2>Available Flights</h2>

      <span>
        {{ flights.length }}
        {{ flights.length === 1 ? 'flight' : 'flights' }} found
      </span>
    </div>

    @for (flight of flights; track flight.id) {

      <article class="flight-card">

        <div class="airline">
          <strong>{{ flight.airline }}</strong>
          <span>{{ flight.flightNumber }}</span>
        </div>

        <div class="route">

          <div>
            <strong>{{ flight.fromCode }}</strong>
            <span>
              {{ flight.departureTime | date:'shortTime' }}
            </span>
          </div>

          <div class="duration">
            <span>{{ flight.duration }}</span>
            <span>────────→</span>
            <span>
              {{ flight.stops === 0
                ? 'Non-stop'
                : flight.stops + ' stop(s)' }}
            </span>
          </div>

          <div>
            <strong>{{ flight.toCode }}</strong>
            <span>
              {{ flight.arrivalTime | date:'shortTime' }}
            </span>
          </div>

        </div>

        <div class="price">
          <strong>
            ₹{{ flight.price }}
          </strong>

          <span>per passenger</span>
        </div>

      </article>

    }

  }

  @if (
    hasSearched &&
    !loading &&
    !errorMessage &&
    flights.length === 0
  ) {
    <div class="status-message">
      No flights found for the selected route.
    </div>
  }

</section>